In [1]:
import sys

sys.path.append('../src')

from utils import load_data, moving_averages, linear_trend_slope, drop_na, volatility, add_lags, add_day_period_features, pearson_correlation, random_forest_feature_importance, rfe_feature_importance
%reload_ext autoreload

In [2]:
path='../data/raw/1day.csv'
df = load_data(path)
df.head()

,open_time,open_price,high_price,low_price,close_price,volume,close_time
0,2017-08-17,301.13,312.18,298.00,302.00,7030.71034,2017-08-17 23:59:59.999
1,2017-08-18,302.00,311.79,283.94,293.96,9537.84646,2017-08-18 23:59:59.999
2,2017-08-19,293.31,299.90,278.00,290.91,2146.19773,2017-08-19 23:59:59.999
3,2017-08-20,289.41,300.53,282.85,299.10,2510.13871,2017-08-20 23:59:59.999
4,2017-08-21,299.10,346.52,294.60,323.29,5219.44542,2017-08-21 23:59:59.999

In [5]:
df = moving_averages(df, windows=[5, 10, 20, 50, 100, 200])
df = volatility(df, window=5)
df = add_lags(df, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
df = add_day_period_features(df, day_of_week=True, day_of_month=True, quarter=True)
df = linear_trend_slope(df, windows=[5, 10, 20, 50, 100, 200])
df = drop_na(df)

In [6]:
correlation = pearson_correlation(df)
correlation.sort_values(ascending=False).head(10)

close_price    1.000000
high_price     0.998885
low_price      0.998863
open_price     0.997702
lag_1          0.997700
ma_5           0.997495
lag_2          0.995799
ma_10          0.993897
lag_3          0.993803
lag_4          0.991691
dtype: float64

In [7]:
importance_rf = random_forest_feature_importance(df)
importance_rf.sort_values(by="Importance", ascending=False).head(10)

       Feature  Importance
1   high_price    0.547358
2    low_price    0.362537
8       ma_100    0.013771
24       lag_5    0.010286
4         ma_5    0.010008
25       lag_6    0.008410
5        ma_10    0.007738
0   open_price    0.006143
23       lag_4    0.006108
7        ma_50    0.005505

In [4]:
importance_rfe = rfe_feature_importance(df, n_features_to_select=10)
importance_rfe

Index(['open_price', 'high_price', 'low_price', 'ma_5', 'ma_10', 'day_of_week',
       'quarter', 'linear_trend_5', 'linear_trend_10', 'linear_trend_200'],
      dtype='object')